MYSQL_DATABASE=chatapp
DB_USER=[username of db_user] //user of a new user
DB_PASSWORD=[password of db_user]//password of the new user 
DB_DATABASE=chatapp
JWT_SECRET_KEY=[secret key]//generate with openssl rand -base64 32
